body{
	margin:0;
	font-family: var(--content-font);
}

.btn{
	background:var(--primary-color);
	padding:10px 15px;
	border:none;
	color:white;
	font-family: var(--title-font)
}

.inp{
	background:transparent;
	padding:10px 15px;
	border:1px solid rgba(0,0,0,0.2);
}