:root{
	--primary-color:#3f51b5;
	--secondary-color:#3c3c3c;
	--accent-color:#797979;

	--title-font:"Roboto Slab", sans-serif;
	--content-font:"Quicksand", sans-serif;

	--title-size:1.3rem;

	--wrapper-spacing:0 3vw;

	--success-color:;
	--warning-color:;
	--danger-color:;
}